body,
#root {
    display: block;
    margin: 0;
    padding: 0;
}

.profile {
    display: block;
    width: 300px;
    margin: 0 0 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #ebebeb;
    box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
    text-align: center;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
